body {
  --colors-success: #d4edda;
  --colors-error: #f8d7da;
  --colors-warning: #fff3cd;
  --colors-info: #d1ecf1;
}

body[data-theme='light'] {
  --colors-primary: #067bc2;
  --colors-seconday: #84bcda;
  --colors-tertiary: #ecc30b;
  --colors-text: #1a090d;
  --colors-background: #fcfcfc;
}

body[data-theme='dark'] {
  --colors-primary: #b62b5b;
  --colors-seconday: #023c8d;
  --colors-tertiary: #772c67;
  --colors-text: #fcfcfc;
  --colors-background: #1a090d;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
